
            <form #registerForm="ngForm" class="row" (ngSubmit)="submit()"  autocomplete="off">
                            <div class="col">
                            <input   type="tel" class="form-control" id = "mobileNumber" name="mobileNumber" 
                        [(ngModel)]="model.mobileNumber" placeholder="Mobile Number"  >
                        </div>
                            <div class="col">
                            <input    type="text" class="form-control" id="podRequestId" name="podRequestId" 
                        [(ngModel)]="model.podRequestId" placeholder="Pod RequestId"  >
                        </div>
                        
                        <div class="col">
                            <button class=" btn btn-search" type="submit">Search</button>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-dwn" (click)="exportexcel()">Export</button>
                        </div>
            </form>
            <br>
    <div class="row  table-responsive">
            <table class="table table-striped table-bordered " id="excel-table" >
                <thead>
                    <tr >
                        <th *ngFor="let key of keys" >{{key}}</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let elem of kpiObject">
                        <td *ngFor="let key of keys" > 
                            <div *ngIf="(elem[key]  | json) != '{}'" >{{elem[key]}} </div>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="emptyData">
                <span>No Record Found</span>
            </div>
        
    </div>
    
