table {
    white-space:nowrap;
}
td{
    font-size:small;
}
input{
    border-color: black;
}
/* .btn {
    min-width: 180px;
    max-width: 180px;
} */
.btn{
    border-color: black;
    color: white;
    background-color: blue;
}