<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>EMIPOD Dashboard</a>

        <ul class="navbar-nav me-auto">
            <ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/customerSearch' routerLinkActive='active' >Customer Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='' routerLinkActive='active'>KPI Performance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink=''routerLinkActive='active' >KPI Failures</a>
                </li>
                
            </ng-container>
        </ul>
    </div>

</nav>
